<br />
<p>
Regards,
Karma Grove
<img src="http://www.karmagrove.com/assets/circle.png">
Have feedback or know of a charity you want to see us support? 
Email Joshua Montross, founder at joshua@karmagrove.com
</p>