<br />
<p>
Regards, <br />
Karma Grove <br />
<img src="http://www.karmagrove.com/assets/circle.png"><br />
Have feedback or know of a charity you want to see us support? <br />
Email Joshua Montross, founder at joshua@karmagrove.com
</p>