<h1> Thanks for your interest in our payments system </h1>
<h2> You are eligible for our payments system if you would be willing to give 1% of your sales to charity </h2>
<h3> Everything after this requirement of connecting your sales to giving in your community is negotiable </h3>
<h4> We are not trying to get rich.  We are working for justice and gifts every day.  Join us. </h4>

Please email <a href="mailto:Joshua@KarmaGrove.com?subject=Circle"> Joshua@karmagrove.com </a> to be one of our beta users.

<%= image_tag("circle.png") %>

<h2>Who are our current partners?  </h2>
<button class="btn">
<a href="http://wwww.crystalcoronaphotography.com"> Crystal Corona Photography </a>
</button>